{{#if id}}
<div class="container content pt-3">
	<div class="display-4 row">
		<div class="col-lg-6">Beer name</div>
		<div class="text-lg-right col-lg-6">
			<a href="/beers/id/reviews/add" class="btn btn-primary"><i class="fas fa-star"></i> Add review</a>
			<a href="/beers/id/edit" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit beer</a>
		</div>
	</div>
	<div class="beer-info row">
		<div class="col-md-9">
			<div class="brewery lead">
				<a href="/breweries/id">Brewery name</a>
				<small class="text-muted">(City/State, Country)</small>
			</div>
			<div class="style">
				Style: <a href="/styles/id">Style name</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="abv">ABV: 0.0%</div>
			<div class="ibu">IBU: 0</div>
		</div>
	</div>
	<div class="rating-info py-3">
		<div class="beer-rating"><i class="fas fa-star rating-star"></i> 0.0</div>
		<div class="text-muted"><small>1 review</small></div>
	</div>
	<h2>Reviews</h2>
		<div class="review py-3 border-top">
			<div class="review-info row">
				<div class="col-9">
					<div class="review-user text-bold"><a href="/users/id">Username</a></div>
					<div class="review-date text-muted"><small>February 4, 2019</small></div>
				</div>
				<div class="user-rating col-3 text-right"><i class="fas fa-star rating-star"></i> 0.0</div>
			</div>
			<div class="user-comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit arcu. Quisque in ex faucibus, imperdiet orci in, condimentum ex. Phasellus arcu massa, accumsan sed nunc at, mattis ultrices orci. Aliquam erat volutpat. Duis ipsum lectus, semper viverra facilisis ut, porttitor sed diam. In pretium laoreet leo, vel interdum arcu viverra quis. Curabitur porta consequat elit.</div>
		</div>
</div>

{{else}}
<div class="container content pt-3">
	<h1 class="display-4">Top beers</h1>
	<div class="row">
		<div class="col-md-9">
			<table class="table beer-table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Average rating</th>
						<th>Number of ratings</th>
		      </tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><a href="/beers/id">Beer name</a></td>
						<td>0.0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<a href="/beers/add" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i> Add a beer</a>
			<a href="/styles" class="btn btn-outline-secondary btn-lg btn-block">Search by style</a>
		</div>
	</div>
</div>
{{/if}}