<div class="container content pt-3">
	<div class="alert alert-secondary mt-3" role="alert">Page listing top breweries with buttons/links to search by region</div>
	<h1 class="display-4">Top breweries</h1>
</div>