{{#if id}}
<div class="container content pt-3">
	<div class="display-4 row">
		<div class="col-md-9">Brewery name</div>
		<div class="text-md-right col-md-3">
			<a href="/beers/id/edit" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit brewery</a>
		</div>
	</div>
	<div class="brewery-info text-muted pb-3">
		City/State, Country
	</div>
	<h2>Beers</h2>
	<table class="table beer-table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Average rating</th>
				<th>Number of ratings</th>
      </tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="/beers/id">Beer name</a></td>
				<td>0.0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>

{{else}}
<div class="container content pt-3">
	<h1 class="display-4">Top breweries</h1>
	<div class="row">
		<div class="col-md-9">
			<table class="table beer-table">
				<thead>
					<tr>
						<th></th>
						<th>Brewery</th>
						<th>Average rating</th>
						<th>Number of beers</th>
		      </tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><a href="/breweries/id">Brewery name</a></td>
						<td>0.0</td>
						<td>1</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<a href="/breweries/add" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i> Add a brewery</a>
			<a href="#" class="btn btn-outline-secondary btn-lg btn-block">Search by location</a>
		</div>
	</div>
</div>
{{/if}}