<div class="home-img">
	<div class="container">
		<form action="/beers/search" method="get">
			<div class="input-group homepage-search-form">
				<input class="form-control form-control-lg" type="text" name="q" placeholder="Search for a beer">
				<div class="input-group-append">
					<button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>