<div class="container content pt-3">
	<h1 class="display-4">Recent reviews</h1>
	<div class="review py-3 border-top">
		<div class="review-info row">
			<div class="col-9">
				<h2 class="review-veer text-bold"><a href="/beers/id">Beer name</a></h2>
				<div class="review-user text-bold"><a href="/users/id">Username</a></div>
				<div class="review-date text-muted"><small>February 4, 2019</small></div>
			</div>
			<div class="user-rating col-3 text-right"><i class="fas fa-star rating-star"></i> 0.0</div>
		</div>
		<div class="user-comments">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet hendrerit arcu. Quisque in ex faucibus, imperdiet orci in, condimentum ex. Phasellus arcu massa, accumsan sed nunc at, mattis ultrices orci. Aliquam erat volutpat. Duis ipsum lectus, semper viverra facilisis ut, porttitor sed diam. In pretium laoreet leo, vel interdum arcu viverra quis. Curabitur porta consequat elit.</div>
	</div>
</div>
