<div class="container content pt-3">
	<h1 class="display-4">Add a user</h1>
	<form>
		<div class="form-row">
			<div class="form-group col-lg-6">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" value="{{user_name}}" required>
			</div>
			<div class="form-group col-lg-6">
				<label for="email">Email address</label>
				<input type="email" class="form-control" id="email" value="{{email}}" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12">
			<button type="submit" class="btn btn-primary">Add user</button>
			</div>
		</div>
	</form>
</div>
