<div class="container content pt-3">
	<div class="alert alert-secondary mt-3" role="alert">Page listing different venues with buttons/links to add a venue and to search by region</div>
	<h1 class="display-4">Venues</h1>
</div>