{{#if id}}
<div class="container content pt-3">
	<div class="display-4 row">
		<div class="col-md-9">Venue name</div>
		<div class="text-md-right col-md-3">
			<a href="/beers/id/edit" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit venue</a>
		</div>
	</div>
	<div class="brewery-info text-muted pb-3">
		Address, City/State, Country
	</div>
	<h2>Beers</h2>
	<table class="table beer-table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Average rating</th>
				<th>Number of ratings</th>
      </tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="/beers/id">Beer name</a></td>
				<td>0.0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>

{{else}}
<div class="container content pt-3">
	<div class="alert alert-secondary mt-3" role="alert">Page listing venues</div>
	<h1 class="display-4">Venues</h1>
	<a href="/venues/id">Individual venue page</a>
</div>
{{/if}}